.shoplist{
    width: 350px;
    height: auto;
    margin-top: 10px;
    padding-right: 10px;
}
.btn_shoplist{
    margin-top: 5px;
}

.basket_qtt{
    float: right;
}



.btnRemove {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-left: 5px;
    color: #ee6c4d;
  }
  
  .btnRemove:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  .btnRemove:active {
    outline: none;
    border: none;
  }
  
  .btnRemove:focus {
    outline: 0;
  }