.btn_shoplist{
    margin-top: 10px;
    width: 150px;
    margin-right: 2px;
}

.btn_nbPersonnes{
    margin: 2px;
}

.filter_type{
    display: inline;
    color: #ee6c4d;
    letter-spacing: 0.8em;
    font-size: 1.7rem;
}

.rating{
    display: inline;
    color: #ee6c4d;
    font-size: 0.7rem;
    letter-spacing: 0.2em;
    padding-top: 5px;
}

.ingredientsQtt{
    
}

.ingredientsMesure{
    float: right;
    color: #ee6c4d;
    font-weight: bold;
}

.ingredientsName{

}

.recette_titre{
    padding-top : 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 2.5rem;
}

.frame_nbPersonnes{
    border-top:1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    margin-right: 50px;
    padding: 4px;
}

.nbPersonnes{
    margin-left: 5px;
}
.nbPersonnesNumber{
    margin: 10px;
}

.mealImage{
    min-width: 750px;
    max-width: 750px;
}

.recipeFrame{
    margin-top: 75px;
    padding-bottom: 50px;
}