.about_titre{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.img_react{
    background-image: url("../../data/img/react.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.img_bootstrap{
    background-image: url("../../data/img/bootstrap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.img_express{
    background-image: url("../../data/img/express.png");
    background-repeat: no-repeat;
    background-position: center center; 
}

.img_mongodb{
    background-image: url("../../data/img/mongo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.row_about{
    margin-top: 50px;
}

.row_about h1{
    text-align: center;
}