.btn_filtre{
    margin: 2px;
    font-size: 0.7em;
    margin-top: 10px;
}

li{
    display: inline;
}

ul{
    margin-left: -40px;
}

.input_filtre{
    width: 100% !important;
    margin-top: -10px;
}