.title{
    text-align: center;
    padding-top: 25px;
}

.title2{
    text-align: center;
    font-size: 1em;
}

.carousel_items{
    justify-content: space-around;
    margin: 20px;
}

.title3{
    margin-top: 50px;
    text-align: center;
}

.waves_bottom{
    height: 150px;
    background-color: #98c1d9;
}