.title{
    text-align: center;
    padding-top: 25px;
}

.AddRecette_Form{
    padding-top : 50px;;
    margin-left : 25px;
}

.AddRecette_Liste{
    padding-top : 80px;;
    margin-right : 25px;
}

.mesure{
    margin-top: 15px;
}

.btn_category{
    margin : 2px;
}

.btn_addRecipe{
    margin-top: 60px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn_inputfile{
    background-color: #ee6c4d;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.sendRecipe{
    font-size: 1.3rem;
    font-weight: bold;
}