.header{
    background-color: #3d5a80;
    height: 100px;
}

.logo{
    margin-left: 200px;
    padding-right: 32px;
}

.buttons{
    margin-right: 200px;
}

.btn_header{
    margin : 10px;
}

.nav_link{
    font-size: 1.1em;
}

.nav_link a{
    color: #9bc0d8;
    margin: 5px;
}

.nav_link a:hover{
    text-decoration: none;
    color: #e0fbfc;
}

.nav_link a:focus{
    color:#e0fbfc;
    text-decoration: underline;
}

.nav_link span{
    margin-left: 10px;
    margin-right: 10px;
    color: #9bc0d8;
}

.addRecetteBtn{
    font-weight: bold;
}