.waves_bottom{
    height: 50px;
    background-color: #98c1d9;
}

.login_page{
    padding-top: 100px;
    min-height: 85vh;
}

.register_page{
    padding-top: 50px;
    padding-bottom: 175px;
}

.login_form{
    padding-top: 25px;
}

.login_btn{
    text-align: center;
}

.btnLogin{
    min-width: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.iconCenter{
    margin-left: 30px;
}