.card_spacing{
    margin-bottom : 50px;
}
.filter_type{
    display: inline;
    color: #ee6c4d;
    letter-spacing: 1em;
}

.btn_recette{
    display: flex;
    justify-content: center;
}

.btn_recette_size{
    width: 100%;
}

.btn_affiche{
    width: 250px;
}
