h1{
    color: #f18064;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3.5rem !important;
}

h2{
    color: #f18064;
    font-family: 'Roboto';
    font-weight: 700;
}


.btn-warning {
    background-color: #ee6c4d !important;
    color: white !important;
    border-color: #f18064 !important;
}

.btn-outline-warning {
    color: #ee6c4d !important;
    border-color: #f18064 !important;
}
.btn-outline-warning:hover {
    background-color: #ee6c4d !important;
    color: white !important;
}

.form-control:focus {
    color: #3d5a80 !important;
    background-color: #fff !important;
    border-color: #ee6c4d !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(238,108,77,.25) !important;
}

.container{
    background-color: #fdfdfe !important;
    min-height: calc(100vh - 100px) !important;
}

.nav-link{
    font-size: 1.2rem !important;
}

.carousel-control-prev{
    justify-content: left !important;
}

.carousel-control-next{
    justify-content: right !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px !important;
    width: 50px !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a80' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a80' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fa-user-circle{
    color: #ee6c4d;
}

.col-md-auto{
    margin-left: 10px !important;
}

.carousel-inner{
    background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%2398c1d9" fill-opacity="1" d="M0,96L120,106.7C240,117,480,139,720,138.7C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"%3E%3C/path%3E%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-position: bottom;
}

.list-group-item{
    background-color: transparent !important;
}

.list-group-flush > .list-group-item {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 0px !important;
    border-left-width: 1px !important;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.custom-select{
    margin-bottom: 25px;
}

.form-row{
    margin-bottom: 15px;
}

.form-group{
    margin-bottom: 0.5rem !important;
}

.col-lg-11{
    padding-left: 0px !important;
}

.card-title{
    height: 75px;
}

.col-lg-9{
    padding-right: 10px !important;
}

.form-label{
    font-size: 1.3rem;
    color: #5e708e;
}