.historique_titre{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.waves_bottom{
    height: 225px;
    background-color: #98c1d9;
}

.list_background{
        background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%2398c1d9" fill-opacity="1" d="M0,96L120,106.7C240,117,480,139,720,138.7C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"%3E%3C/path%3E%3C/svg%3E%0A');
        background-repeat: no-repeat;
        background-position: bottom;
}

.historique_filtre{
    margin-bottom: 50px;
}